/* main style sheet for the website */

/* styles applying on all sites */
:root {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
    width: 100%;
}

button {
    border: 0;
    padding: 0.7em 1em;
    margin: 5em 0.5em 1em 0em; /* top right bottom left */
    border-radius: 5px; 
    background-color: rgb(99,143,157);
    color: snow;
}

a{
    text-decoration: none;
    color: black;
}